/*******************************************************************************
 ***
 ******************************************************************************/

body
{
	background-color: #eee;
}

img, svg, object, .highcharts-container
{
	margin : auto;
	display: block;
}

pre
{
	padding: 10px;
	background-color: white;
}

/*******************************************************************************
 ***
 ******************************************************************************/

#content
{
	width : 800px;
	margin: auto;
}

/*******************************************************************************
 ***
 ******************************************************************************/

.note
{
	padding: 12px;
	border : 2px solid green;
}

.note > *
{
	margin: 0;
}

.important
{
	border : 2px solid orange;
}

.slick-slide:not(.slick-current)
{
	visibility: hidden
}
